<section class="todoapp">
	<header class="header">
		<h1>todos</h1>
		<form id="new-form">
			<input type="text" class="new-todo" placeholder="What needs to be done?" />
		</form>


	</header>

	<section class="main">
		<ul class="todo-list">

		</ul>

	</section>
</section>

<section class="author">
  A <%= link_to "todo-mvc", "http://todomvc.com" %>
  application, built by
  <%= link_to "Ken Mazaika", "http://github.com/kenmazaika" %>,
  interpreted by Jordan Perkic
</section>

<script>
	var t1 = document.getElementsByClassName("taskbutton");
	console.log(t1);
	



	$(window).bind("load", function() {

		for(i = 0; i < t1.length; i++){
			
			let temp = 'aight' + [i];
			let idNumber = idArray[i];

			t1[i].addEventListener('click', function(){
				
				console.log("yes");

				$.ajax({
				    url: ["/tasks/" + idNumber],
				    type: 'DELETE',
				    	success: function(result) {
				        	console.log("did it " + result);
				    	}
				});
			});
		}

		


	});


</script>